[Unit]
Discription=Gunicorn server fot DOMEN

[Service]
Restart=on-failure
User=kotik
WorkingDirectory=/home/kotik/sites/DOMEN/source
ExecStart=/home/kotik/sites/DOMEN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMEN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
